.menu-title {
    text-align: center;
    color: orangered;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 700;
}

.menu-item {
    height: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
/*.menu-item:last-child {*/
    /*color: red;*/
    /*border-bottom: 1px solid #ccc;*/
/*}*/
.item-name {
    display: block;
}
.item-name, .item-price {
    line-height: 50px;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.item-price {
    color: darkorange;
}