{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Location{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'location/css/location.css' %}">
{% endblock css %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Find Us Here!</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3717.771390513213!2d-157.83313368560786!3d21.280514984513115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c00726066658945%3A0x8fdde21370f86d4d!2sHawaiiana+Cafe+%26+Sushi!5e0!3m2!1sen!2sjp!4v1466347825106"
                        width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                <p id="address">260 Beach Walk<br>Honolulu, HI 96815<br>
                    Phone: (808) 772-8879</p>
            </div>
        </div>
    </div>
{% endblock content %}